*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#040694, #0582a8);
}

/* awal navbar */
.container-navbar ul{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 2em;
    border-bottom: 2px solid #fff;
    gap: 10em;
}
a{
    text-decoration: none;
    color: #000;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
}
.nav-list:hover{
    color: #fff;
    cursor: pointer;
    border: solid #fff 1px;
    transform: scale(1.05);
    transition: 0.2s;
    text-shadow: 5px 5px 5px #000;
    background: #6201ff;
}
/* akhir navbar */

/* awal conten */
.container-conten{
    display: flex;
    height: 80vh;
}
.leftbar{
    height: 100%;
    width: 50%;
    margin: 100px;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #fff;
}
.btn{
    margin-top: 100px;
}
.btn button{
    border-radius: 10px;
    font-size: 1em;
    height: 50px;
    width: 200px;
}
.btn button:hover{
    color: #fff;
    cursor: pointer;
    border: solid #fff 1px;
    transform: scale(1.05);
    transition: 0.2s;
    text-shadow: 5px 5px 5px #000;
    background: #6201ff;
}
hr{
    margin-top: 20px;
}
.rightbar{
    height: 100%;
    width: 50%;
    color: #fff;
}
.text{
    font-size: 1.6em;
}
.rightbar img{
    height: 85%;
    width: 100%;
    border-radius: 20px;
}
/* akhir conten */

/* awal footer */
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: linear-gradient(90deg,#040694, #0582a8);
    font-size: 2em;
    border-top: 2px solid #fff ;
    color: #fff;
}
/* akhir footer */