*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: gray;
}

/* awal navbar */
.container-navbar ul{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 2em;
    border-bottom: 2px solid #000;
    gap: 10em;
}
a{
    text-decoration: none;
    color: #000;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
}
.nav-list:hover{
    cursor: pointer;
    border: solid #fff 1px;
    transform: scale(1.05);
    transition: 0.2s;
    text-shadow: 5px 5px 5px #000;
}
/* akhir navbar */

/* awal conten */
.container-conten{
    height: 80vh;
}
.conten{
    height: 100%;
    width: 100%;
}
/* akhir conten */

/* awal footer */
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: antiquewhite;
    font-size: 2em;
    border-top: 2px solid #000 ;
}
/* akhir footer */